<!DOCTYPE html>
<html>
  <head>
    <title>Simulation Form</title>
  </head>
  <link rel="stylesheet" href="/index.css"/>
  <body>
    
    <form action="/run-simulation" method="post">
      {% for key, value in default_params.items() %}
      <div>
        <label for="{{ key }}">{{ key }}</label>
        <input
          type="{{ 'number' if value is number else 'text' }}"
          id="{{ key }}"
          name="{{ key }}"
          value="{{ value }}"
        />
      </div>
      {% endfor %}
      <div>
        <label for="name">Simulation Name:</label>
        <input type="text" id="database" name="name" required />
      </div>
      <button type="submit">Run Simulation</button>
    </form>
    <div>
      <button onclick="window.location.href='/jobs.html';">View Jobs</button>
    </div>
  </body>
</html>
